# Compiled files
/target/

# Cargo.lock file
Cargo.lock
Cargo.toml

# IDE or editor files
/.vscode/
/.idea/
*.rs.bk

# Dependency directories (optional, depending on your setup)
/vendor/

Rust_Excercises.iml
